/*Use this for custom stuff*/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
color: #006600;
}


.testImg {
	background: url(http://placehold.it/3000x1000) 0 0 no-repeat;
	height: 1000px;
}

#Home1, #Home2, #Home3 {
	font-style:italic;
}

#Historical1, #Historical4, #Footer2 {
	text-align:center;
}
#Historical2, #Historical3, #Historical5 {
	text-align:center;
	display:block;
	margin:0 auto;
}


#Research1, #Research2, #Research3, #Research4, #Research5, #Research6, #Footer1 {
	text-align:center;
}
#Research1, #Research3, #Research5 {
	font-style:italic;
	font-style:bold;
}

#Bio2 {
	text-align:center;
}
#Bio1 a:link {
	text-align:center;
	display:block;
	margin:0 auto;
	color:#006600;
}
#Footer3 {
	text-align:center;
}
